# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg
.eggs/
dist/
build/
*.manifest
*.spec.bak

# App runtime
logs/
settings.json

# PyInstaller
*.exe

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store
